@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #ffffff;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  letter-spacing: -0.3px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}